<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:jnoSA3YgEV86OygHluuAckw6JcSiWdI1qrDewiFiRgM="/>
        <env name="APP_DEBUG" value="true"/>
        <env name="APP_URL" value="http://0.0.0.0"/>

        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>

        <env name="CACHE_STORE" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>

        <env name="LOG_CHANNEL" value="stack"/>
        <env name="LOG_LEVEL" value="debug"/>

        <env name="MAIL_MAILER" value="array"/>

        <env name="BCRYPT_ROUNDS" value="4"/>
    </php>

</phpunit>
